header{
  width: 100%;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1.25rem 1rem;
  img{
    width: 5rem;
    height: 1.125rem;
  }
}

@media (min-width: 700px) {
  .container{
    padding: 1rem 8rem 2rem 8rem;
    img{
      width: 9.1875rem;
      height: 1.125rem;
    }
  }
}
